.wordle-tile {
  height: 70px;
  width: 70px;
  border: 2px solid var(--default-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  &.correct {
    background-color: #6aaa64;
    color: white;
    border-color: #6aaa64;
  }
  &.present {
    background-color: #c9b458;
    color: white;
    border-color: #c9b458;
  }
  &.absent {
    background-color: #787c7e;
    color: white;
    border-color: #787c7e;
  }
  &.empty {
    background-color: white;
    color: black;
  }
}
